[user]
  email = mark@bluepie.co.uk
  name = Mark Sims
  signingkey = B22566803E1E09D0
[push]
  default = simple
[credential]
  helper = osxkeychain
[core]
  editor = nvim
[rerere]
  enabled = true
[alias]
  ll =  log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls =  log --oneline --graph --decorate
  diff2 = diff --compaction-heuristic
  fix = "!f() { ${EDITOR} `git diff --name-only`; }; f"
  clean-branches = !git branch | grep -v master | xargs git branch -D
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[commit]
	gpsign = true
	gpgsign = true
[http]
	postBuffer = 157286400
